<!doctype html>
<html>
<head>
    <title>Add a Student</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <h1>Add a Student</h1>
    <form method="post">
        <input type="text" name="student_name" placeholder="my name ">
        <br>

        <input type="radio" name = "year" value="Year1">Y1
        <input type="radio" name = "year" value="Year2">Y2
        <input type="radio" name = "year" value="Year3">Y3
        <input type="radio" name = "year" value="staff/instructer">staff/instructer
        <input type="submit" value="Submit">
        <img id = "hi" src = https://www.hihiguide.com/images/hihi_logo_black_transparant.png height="175px" width="175px">
        
       
        


    </form>
</body>
</html>
